<?php

	/* Configuracion de la conexión al servidor IRC */
	$conf['irc']['host']="127.0.0.1";
	$conf['irc']['port']=6667; //puerto
	$conf['irc']['nick']="CoBot"; // Nick
	
	$conf['irc']['channels']=array("#CoBOT"); // canales a los que el bot entrara al conectarse
	$conf['irc']['prefix']="-"; //prefijo de los comandos
	
	# No modificar
	$conf['ormconfig'] = 'sqlite:./db/cobot.db';
